.page-margin {
  margin-left: 50px;
  margin-right: 50px;
}

.index-cards {
  display: flex;
}

.bike-cards {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  padding: 0 35px;
}

@media (max-width: 992px) {
  .bike-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .bike-cards {
    grid-template-columns: 1fr;
  }
}

.bike-image {
  // height: 100%;
  // width: 150px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.div-image {
  // height: 280px;
}

.bike-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height: 290px;
  width: 100%;
  background-color: white;
  position: relative;
}

.text-card {
  margin: 0;
}

.bike-card h3 {
  opacity: .7;
  margin: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 19px;
  text-decoration: none;
  color: black;
}

.bike-card p {
  opacity: .7;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 60px;
  text-decoration: none;
  color: black;
}

.link-none {
  text-decoration: none;
  height: 290px;
  a {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}

#map {
  position: sticky;
  top: 0px;
  flex: 0 0 420px;
  height: 100vh;
}

.text-card .price {
  color: white;
  width: 60px;
  text-align: center;
  background-color: #FD894A;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  border-radius: 4px;
  bottom: 90px;
  right: -15px;
}

.bike-card:hover {
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}



