.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin-bottom: 30px;
  p {
    font-size: 12px;
    opacity: .7;
  }
}

.card-bike {
  height: 450px;
}

.card-bike .card-bike-infos {
  position: relative;
}

.card-bike-pictures {
  margin-top: 20px;
  img {
    height: 300px;
  }
}

.card-price-submit {
  height: 450px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  text-align: center;
  // position: relative;
  p {
    font-size: 12px;
    opacity: .7;
  }
  .bike-show-price {
    margin: 30px !important;
    h3 {
      font-size: 40px;
    }

    //     position: absolute;
    // top: 30px;
    // left: 133px;
  }
  .btn-submit {
    // position: absolute;
    // top: 123px;
    // left: 110px;
    margin-top: 25px !important;
  }
}

.card-address-infos {
  padding: 12px;
}
.card-address-map img {
  height: 200px;
  width: 400px;
  margin-left: 18px;
}

.pick-up-rules {
  border: 1px solid grey;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px !important;
}

.fa-map-marked-alt {
  padding: 15px;
  font-size: 30px;
  color: #FD894A;
}

.ask-booking {
  font-size: 22px;
}

.review {
  border-bottom: solid 1px orange;
  margin-bottom:20px;
}

.card-review h6 {
  width: 670px;
  margin-bottom: 25px;
}
