.page-margin {
  margin-left: 50px;
  margin-right: 50px;
}

.index-cards {
  display: grid;
  grid-template-columns: 9fr 4fr;
}

.bike-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  padding-right: 35px;
}

.bike-image {
  // height: 100%;
  // width: 150px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.div-image {
  // height: 280px;
}

.bike-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 290px;
  width: 300px;
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.text-card {
  width: 300px;
  margin: 0;
  height: 100px;
}

.bike-card h3 {
  opacity: .7;
  margin: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 19px;
  text-decoration: none;
  color: black;
}

.bike-card p {
  opacity: .7;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 60px;
  text-decoration: none;
  color: black;
}

.link-none {
  text-decoration: none;
  height: 290px;
  a {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}

#map {
  height: 640px;
  background-size: cover;
  position: sticky;
  top: 0;
  width: 100%;
}

.price {
  color: white;
  background-color: #FD894A;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  border-radius: 4px;
  bottom: 90px;
  left: 253px;
}
