// Specific CSS for your home-page
.bike-picture {
  background-size: cover;
  background-position: center bottom;
  padding: 100px 0;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  }

.btn-rent {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FD894A;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-rent a {
  color: white;
}

.header {
  color: #3f393e;
  h1 {
    font-size: 48.83px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}
