// Specific CSS for your home-page
.navbar-airbike {
  justify-content: space-between;
  background: white;
}

.navbar-airbike .navbar-collapse {
  flex-grow: 0;
}

.navbar-airbike .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin-right: 20px;
  color: white !important;
  background-color: #1EDD88;
  padding: 8px 24px;
  border-radius: 4px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 7vh;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.bike-picture {
  background-size: cover;
  background-position: center bottom;
  height: 600px;
  padding-top: 130px;
  padding-left: 650px;
  }

