// Import page-specific CSS files here.
@import "home";

.navbar-airbike {
  justify-content: space-between;
  background: white;
}

.navbar-airbike .navbar-collapse {
  flex-grow: 0;
}

.navbar-airbike .navbar-brand img {
  width: 40px;
}
