.navbar-airbike {
  justify-content: space-between;
  background: white;
}

.navbar-airbike .navbar-collapse {
  flex-grow: 0;
}

.navbar-airbike .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin-right: 20px;
  color: white !important;
  background-color: #1EDD88;
  padding: 8px 24px;
  border-radius: 4px;
}
