<div class="bike-picture" style="background-image: url(https://images.unsplash.com/photo-1507035895480-2b3156c31fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1 class="header">Rent a bike in your favourite city</h1>
    <p>Airbike helps you to find a bike for any need</p>
    <button class="btn-rent"><%= link_to "Find a bike!", bikes_path %></button>
  </div>
</div>
