<<<<<<< HEAD
<!-- Div for the filters -->
<div class="d-flex flex-row page-margin py-3">
  <button class="bg-white py-2 px-5 mx-2" type="button">Dates</button>
  <button class="bg-white py-2 px-5" type="button">Type</button>
</div>

  <%  @bikes.each do |bike| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag bike.photo, height: 300, width: 400, crop: :fill %>
    <div class="card-body">
      <p class="card-text"><%= link_to bike.name, bike_path(bike) %></p>
      <p class="card-text"><%= link_to bike.description.truncate(20), bike_path(bike) %></p>
    </div>
  </div>
  <% end %>

<%= link_to new_bike_path do %>
  <i class="fa fa-plus"></i> Add a new bike
<% end %>

<!-- class: card-img-top -->
