<h1>All Bicycles you can rent</h1>

<ul>
  <h1><%  @bikes.each do |bike| %></h1>

<li>
<p><%= link_to bike.name, bike_path(bike) %></p>
</li>
<% end %>
</ul>

<%= link_to new_bike_path do %>
  <i class="fa fa-plus"></i> Add a new bike
<% end %>
