<h1>All Bicycles you can rent</h1>
<!-- Div for the filters -->
<div class="d-flex flex-row">
  <button class="bg-white py-2 px-5 mx-2" type="button">Dates</button>
  <button class="bg-white py-2 px-5" type="button">Type</button>
</div>

<ul>
  <h1><%  @bikes.each do |bike| %></h1>
<li>
<p><%= link_to bike.name, bike_path(bike) %></p>
</li>
<% end %>
</ul>
