.btn-submit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;


  &:hover {
    background: #1BCB7F;
    color: white;
  }
}

.btn-back-to-bikes {
  color: #1EDD88;
  font-weight: bolder;
  margin: 30px;
  font-size: 30px;
}

.btn-back a {
  color: black;
}

.btn-back {
  border-radius: 50px;
}

.btn-rent {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FD894A;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-rent a {
  color: white;
}

