.btn-submit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FD894A;
  transition: background 0.3s ease;
  
  &:hover {
    background: #FD894A;
    color: white;
  }
}

.btn {
  color: white;

  &:hover {
    color: white;
  }
}

.btn-back-to-bikes {
  color: #FD894A;
  font-weight: bolder;
  margin: 30px;
  font-size: 30px;
}

.btn-back a {
  color: black;
}

.btn-back {
  border-radius: 50px;
}

.btn-rent {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FD894A;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
    background: #F5A779;
    color: white;
  }
}

.btn-rent a {
  color: white;
  text-decoration: none;
}

